.nav {
    position: fixed;
    z-index: 2 !important;
    display: flex;
    width: 94%;
    padding: 20px;
    height: 20px;
    left: 0;
    justify-content: space-between;
    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
     /* background-color: black; */

    /* backdrop-filter: blur(6px);  */

    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); */

  }
  
  .nav_black {
    background-color: black;
    transition: ease-in-out 800ms;
  }
  
  .nav_logo {
    position: fixed;
    top: 5rem;
    left: 20px;
    width: 80px;
    cursor: pointer
  }
  
  .user {
    right: 20px;
    width: 40px;
    object-fit: contain;
  }
  .navBarButton{
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
  }
.NavDerecho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavIzquierdo{
  margin-left: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}